@import '../../global.modules.scss';

.BUTTON_WITHOUT_STYLE {
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.to_bottom {
  @extend .BUTTON_WITHOUT_STYLE;
  position: absolute;
  right: 0;
  bottom: 20px;
  background-color: #f2f3f8;  
  z-index: 100;	
  .ankor_button_img { 
    transform: rotate(90deg);
    padding: 0;
    margin: 0;
  }
}

.to_top {
  @extend .BUTTON_WITHOUT_STYLE;
  position: absolute;
  right: 0;
  margin-top: -110px;
  background-color: #f2f3f8;
	z-index: 100;	
  .ankor_button_img { 
    transform: rotate(270deg);
    padding: 0;
    margin: 0;
  }
}

.ankor_button {
    writing-mode: vertical-rl;  
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    color: black;
    padding: 5px 10px; 
  .ankor_button_text {   
      font-weight: 400;
      font-size: 16px;
      line-height: 30px;
      align-items: center;
      text-transform: uppercase;
      padding: 20px 0;
  }
}