.ball-1 {
    position: absolute;left:282px;top:265px;animation: tr-ball-1 6000ms infinite ease-in-out
}
.ball-2 {
    position: absolute;left:328px;top:0px;animation: tr-ball-2 6000ms infinite ease-in-out
}
.ball-3 {
    position: absolute;left:-30px;top:240px;animation: tr-ball-3 12000ms infinite ease-in-out 100ms
}
.ball-4 {
    position: absolute;left:546px;top:360px;animation: tr-ball-4 12000ms infinite ease-in-out 200ms
}
.ball-5 {
    position: absolute;left:315px;top:48px;animation: tr-ball-5 12000ms infinite ease-in-out 300ms
}
.ball-6 {
    position: absolute;left:285px;top:208px;animation: tr-ball-6 12000ms infinite ease-in-out 1000ms
}
.cilinder-1 {
    position: absolute;left:148px;top:25px;animation: tr-cilinder-1 5000ms infinite ease-in-out
}
.cilinder-2 {
    position: absolute;left:333px;top:476px;animation: tr-cilinder-2 6000ms infinite ease-in-out 500ms
}
.circle-1 {
    position: absolute;left:286px;top:386px;animation: tr-circle-1 3000ms infinite ease-in-out
}
.cube-1 {
    position: absolute;left:401px;top:145px;animation: tr-cube-1 6000ms infinite ease-in-out 500ms
}
.half-ring-1 {
    position: absolute;left:114px;top:142px;animation: tr-half-ring-1 6000ms infinite ease-in-out 1000ms
}
.rings-1 {
    position: absolute;left:116px;top:113px;animation: tr-rings-1 8000ms infinite ease-in-out
}
.shadow-1 {
    position: absolute;left:0px;top:145px;animation: tr-shadow-1 3000ms infinite ease-in-out
}
.square-1 {
    position: absolute;left:16px;top:230px;animation: tr-square-1 3000ms infinite ease-in-out
}
.ellipse-1 {
    animation: ellipse-1 9000ms infinite ease-in-out
}

.twist {
    animation: twist 10000ms infinite ease-in-out
}
.shake {
    animation: shake 15000ms infinite ease-in-out
}









@keyframes tr-ball-1 {
	0% {transform: translate(0, 0px);} 50% {transform: translate(0, 50px);} 100% {transform: translate(0, 0px);}
}
@keyframes tr-ball-2 {
	0% {transform: translate(0, 0px);} 50% {transform: translate(0, 50px);} 100% {transform: translate(0, 0px);}
}
@keyframes tr-ball-3 {
	0% {transform: translate(0, 0px);} 50% {transform: translate(0, 100px);} 100% {transform: translate(0, 0px);}
}
@keyframes tr-ball-4 {
	0% {transform: translate(0, 0px);} 50% {transform: translate(0, 100px);} 100% {transform: translate(0, 0px);}
}
@keyframes tr-ball-5 {
	0% {transform: translate(0, 0px);} 50% {transform: translate(0, 100px);} 100% {transform: translate(0, 0px);}
}
@keyframes tr-ball-6 {
	0% {transform: translate(0, 0px);} 50% {transform: translate(0, 50px);} 100% {transform: translate(0, 0px);}
}
@keyframes tr-cilinder-1 {
	0% {transform: translate(0, 0px);} 50% {transform: translate(0, 30px);} 100% {transform: translate(0, 0px);}
}
@keyframes tr-cilinder-2 {
	0% {transform: translate(0, 0px);} 50% {transform: translate(0, 30px);} 100% {transform: translate(0, 0px);}
}
@keyframes tr-circle-1 {
	0% {transform: translate(0, 0px);} 50% {transform: translate(0, 10px);} 100% {transform: translate(0, 0px);}
}
@keyframes tr-cube-1 {
	0% {transform: translate(0, 0px);} 50% {transform: translate(0, 40px);} 100% {transform: translate(0, 0px);}
}
@keyframes tr-half-ring-1 {
	0% {transform: translate(0, 0px);} 50% {transform: translate(0, 20px);} 100% {transform: translate(0, 0px);}
}
@keyframes tr-rings-1 {
	0% {transform: translate(0, 0px);} 50% {transform: translate(0, 50px);} 100% {transform: translate(0, 0px);}
}
@keyframes tr-shadow-1 {
	0% {transform: translate(0, 0px);} 50% {transform: translate(0, 10px);} 100% {transform: translate(0, 0px);}
}
@keyframes tr-square-1 {
	0% {transform: translate(0, 0px);} 50% {transform: translate(0, 10px);} 100% {transform: translate(0, 0px);}
}
@keyframes ellipse-1 {
	0% {transform: scale(0.98);filter: opacity(90%);} 50% {transform: scale(1);filter: opacity(50%);} 100% {transform: scale(0.98);filter: opacity(90%);}
}




@keyframes twist {
	0% {transform: rotate(0deg);}
	25% {transform: rotate(5deg);}
    50% {transform: rotate(0deg);}
    75% {transform: rotate(-5deg);}
    100% {transform: rotate(0deg);}
}
@keyframes shake {
	0% {transform: translate(0px, 0px);}
	25% {transform: translate(-10px, 0px);}
    50% {transform: translate(0px, 0px);}
    75% {transform: translate(10px, 0px);}
    100% {transform: translate(0px, 0px);}
}