@import '../../global.modules.scss';

.main {
  font-family: Roboto, sans-serif;
  font-style: normal;  
  color: #000000;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  overflow: hidden;
  aside {
    font-family: Lato, sans-serif;
    width: 151px;
    padding: 55px 0 0 6px;
    .text {
      font-weight: 800;
      font-size: 126px;
      line-height: 151px;
      align-items: center;
      color: #FFFFFF;
      transform: rotate(180deg);
      writing-mode: vertical-rl;
      text-transform: uppercase;
    }
  }
}