$main_bg_color: #F2F3F8;
$a_default_color: #4030b0;
$a_hover_color: #736fc3;


.inactive {
  pointer-events: none;
}

.button {
  border: 1px solid #000000;
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  color: black;
  padding: 5px 10px;
  transition: all 100ms ease-in-out;
}    
.button div:nth-child(1) {
  padding: 0 10px 0 0;
}
.button:hover {
  background-color: #4848484d;    
}
.button_text {   
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  height: 30px;
  align-items: center;
  text-transform: uppercase;
}

.content {
  @media (max-width: 750px) {
    margin-left: 0;
    padding-left: 0;
  }
  flex: 1 0 100%;
  border-bottom: 1px solid #00000010;
  border-left: 1px solid #00000010;
  padding-left: 230px;
  .title {
    @media (max-width: 600px) {
      margin: 0;
    }
    font-weight: 800;
    font-size: 36px;
    line-height: 43px;
    flex: 1 0 100%;
    border-bottom: 1px solid #00000010;
  }
  .name {
    @media (max-width: 600px) {
      padding: 37px 0px 20px 0;
      display: flex;
      align-items: center;
      width: min(480px, 90vw);
    }  
    font-weight: 800;
    font-size: 22px;
    line-height: 26px;
    padding: 37px 20px 0 0;
    word-break: break-word;
    overflow: hidden;
  }
  .text {
    @media (max-width: 600px) {
      padding: 0;
    }
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    padding: 0 100px 0 0;
    max-width: 800px;
  }
  .screenshots {
    @media (max-width: 600px) {
      width: 100%;
      margin: 0 auto 20px;
      display: flex;
      background-position: center;
      justify-content: center;
    }
    transform: scale(0.001);
    transform-origin: center 0;
    background-image: url('~/public/img/mobile_back.png');
    background-repeat: no-repeat;
    width: 198px;
    min-height: 420px;
    margin: 37px 10px 20px 0;
    img {
      width: 189px;
      margin: 22px 5px;
    }
  }
  .column {
    @media (max-width: 750px) {
      flex-wrap: wrap;
    }
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 33px;
    padding-bottom: 50px;
    max-width: 800px;
    .column_block_title {
      font-weight: 800;
      font-size: 14px;
      line-height: 17px;
      padding-bottom: 18px;
    }
  }
  .column_block {
      @media (max-width: 750px) {
        padding: 0px 10px 20px 0;
      }
      padding: 10px;  
      padding: 0px 40px 0 0;
      .column_text {
        font-size: 12px;
        line-height: 24px;
    }    
  }
  .column_block_3 {
      @media (max-width: 750px) {
        flex: 0 1 auto;
      }
      flex: 0 1 calc(33% - 40px);
  }
  .column_block_2 {
      @media (max-width: 750px) {
        flex: 0 1 auto;
      }
      flex: 0 1 calc(50% - 40px);
  }


}