@import './global.modules.scss';

html, body, body>div {
    height: 100%;
}
body {
    background: $main_bg_color;
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

a {
    color:$a_default_color;
    font-weight: 600;
	font-size: 1.2em;
    text-decoration: none;
    &:hover {
        color:$a_hover_color;
    }    
    &:visited {
        color:$a_default_color;
    }
}